@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Lao:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(37, 37, 37); /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #343c79; /* Thumb color */
  border-radius: 0px;
}

/* Colors: */

@layer base {
  :root {
    --color-darkest: #503a3a;
    --color-darker: #a98282;
    --color-dark: #bd9999;
    --color-bg: #e5d4d4;
    --color-accentColor: #abcaeb;
  }
}

* {
  @apply transition-colors duration-500 ease-in-out;
}

.theme-chai {
  --color-darkest: #503a3a;
  --color-darker: #a98282;
  --color-dark: #bd9999;
  --color-text: #e5d4d4;
  --color-bg: #e5d4d4;
  --color-accentColor: #abcaeb;
}

.theme-white {
  --color-darkest: #252525;
  --color-darker: #a1a5a5;
  --color-dark: #cccece;
  --color-text: #f5f5f5;
  --color-bg: #ffffff;
  --color-accentColor: #abcaeb;
}

.theme-black {
  --color-darkest: #66558b;
  --color-darker: #877f99;
  --color-dark: #cfcfcf;
  --color-text: #cfcfcf;
  --color-bg: #212121;
  --color-accentColor: #abcaeb;
}
